//Color
$color-purple-1: #b61984;
$color-purple-4: #aa017e;
$color-purple-2: #dcd1f3;
$color-purple-3: #e6b4d9;
$color-black-1: #313131;


//font size
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 28px;
$fs-8: 44px;
$fs-9: 65px;
$fs-10: 42px;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;